@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-image:url('img/Super2.png'); background-position:center center; background-repeat:no-repeat; background-size:cover;"> 
<div id="Supermarket" class="text-center">
    <h1 class="display-4"></h1>
    <p></p>
    
</div>
</body>